.header {
    font-family: "f1Regular";
}

.cardHeader {
    font-family: "f1Bold";
}

.navtext {
    font-family: "f1Regular";
}

.buttonsFont {
    font-family: "f1Regular";
}

.mainPageHeader {
    font-family: "f1Wide";
}

.quizName {
    font-family: "f1Black";
}
